img{
    width: 10%;
    align-self: center;
}

.top-bar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 20px 20px;
}

input{
    width: 75%;
    height: 35px;
    border: 2px solid rgb(216, 214, 214);
    border-radius: 20px;
    padding: 0 50px;
}
